@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Build Yo Shit</h1>
    <p class="lead">Here you can select the parts to build an epic fucking ride.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Build that shit!</h2>
        <p>
            By clicking this link it will take you to the page where you can select everything that makes up a vehicle
        </p>
        <p>@Html.ActionLink("Selection", "Index", "DropDownList")</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>