@model FinalProject3.Models.Shell
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/StyleSheet1.css" rel="stylesheet" />  
<table style="width:90%; text-align: center; background-color:dimgray; padding: 10px;">
    <tr>
        <td style="padding: 10px; text-align: center; height:30px; background-color:dimgray;
          font-size:20pt; font-weight:bold; color:white;">
            Shells
        </td>
    </tr>  
    <tr>
        <td>
            <div id="ShellGrid">
                @Html.Partial("ShowShells", Model.ShellGrid)
            </div>
        </td>
    </tr>  
</table>
@*<script>
    $(document).ready(function () {
        $("#ShellList").append($("<option></option>").val("0").html("Shells"));
        $("#ShellList").val("0");
    });
</script>
<script type="text/javascript">
    $('ShellList').change(function (e) {
        e.preventDefault();
        var url = '@Url.Action("Filter")';
        $.get(url, { CarModelID: $(this).val() }, function (result) {
            $('#ShellGrid').html(result);
        });
    });
</script>*@


