@{
    ViewBag.Title = "Home Page";
}
<div class="home_wrap">
<div class="Image2">
    <div class="jumbotron">
        <h1>Welcome To Build Your Ride</h1>
        <p class="lead">Here You can view parts in stock and, build your dream car with them. Use the dropdown menu above to view the invertory lists as well as build your ride.</p>
        </div>
    </div>
</div>

