body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: url("../images/car2.jpg");*/
     /*background-repeat:no-repeat;
     background-size:auto;*/
     color:cornflowerblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color:dimgray;
}
.navbar-inverse .navbar-nav > li > a {
    color:Highlight;
}
.Image {
    position:relative;
}
.image:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    background-image: url(../images/car2.jpg);
     background-repeat:no-repeat;
     background-size:auto;
    width:350%;
    height:350%;
    opacity:0.1;
    z-index:-1;
}
.dropbtn {
    background-color:dimgray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:dimgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
    .dropdown-content a {
        color:white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color:cornflowerblue}
.dropdown:hover .dropdown-content {
    display:flex;
}
.dropdown:hover .dropbtn {
    background-color:cornflowerblue;
}
