body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: url("../images/car2.jpg");*/
     /*background-repeat:no-repeat;
     background-size:auto;*/
     color:cornflowerblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color:dimgray;
}
.navbar-inverse .navbar-nav > li > a {
    color:Highlight;
}
.Image {
    position:relative;
}
.image:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    background-image: url(../images/car2.jpg);
     background-repeat:no-repeat;
     background-size:auto;
    width:350%;
    height:350%;
    opacity:0.1;
    z-index:-1;
}
.dropbtn {
    background-color:dimgray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:dimgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
    .dropdown-content a {
        color:white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color:cornflowerblue}
.dropdown:hover .dropdown-content {
    display:flex;
}
.dropdown:hover .dropbtn {
    background-color:cornflowerblue;
}
.form-control {
    display:block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color:white;
    vertical-align: middle;
    background-color:black;
    background: #333;
    color: #ccc;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:hover{
    box-shadow: 12px 13px 0px rgba(204, 211, 51, 0.38),
-11px -14px 0px rgba(241, 96, 0, 0.28),
18px -24px 0px rgba(0, 0, 0, 0.34),
33px -6px 0px rgba(39, 74, 214, 0.28);
}