@model FinalProject3.Models.Turb
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/StyleSheet1.css" rel="stylesheet" />
<table style="width:90%; text-align: center; background-color:dimgray; padding: 10px;color:white;">
    <tr>
        <td style="padding: 10px; text-align: center; height:30px; background-color:dimgray;
          font-size:20pt; font-weight:bold; color:white;">
            Turbo's
            @*@Html.DropDownList("EngineList", Model.EngineList)*@
    </tr>
    <tr>
        <td>
            <div id="TurboGrid">
                @Html.Partial("ShowTurbo", Model.TurboGrid)
            </div>
        </td>
    </tr>
</table>
