body {
    background-image: url('C:\Users\ashton\Source\Repos\Final-Project\FinalProject3\FinalProject3\Images\car2.jpg');
    margin: 0;
}
.gridTable {margin: 5px;padding: 10px;border: 1px #c8c8c8 solid;  
            border-collapse: collapse;min-width: 550px;  
             background-color:dimgray;color:cornflowerblue; width:100%;}  
.gridHead th{font-weight: bold; background-color:dimgray;  
             color:cornflowerblue;padding: 10px; text-align:left;}  
.gridHead a:link,.gridHead a:visited,.gridHead a:active,.gridHead a:hover {color: #fff;}  
.gridHead a:hover {text-decoration:underline;}  
.gridTable tr.gridAltRow{background-color:dimgray;}  
.gridTable tr:hover{background-color:dimgray;}  
.gridAltRow td{padding: 10px;margin: 5px; color:white;text-align:left;}  
.gridRow td{padding: 10px;color: cornflowerblue;  text-align:left;}  
.gridFooter td{padding: 10px; color: #ffffff;font-size: 12pt;  
               text-align: center; background-color:#228B22;}  
.gridFooter a{font-weight: bold;color: blue; border: 2px #f00 solid;}  
